/* Font */
@import url(../font/nunito/nunito.css);
@import url(../font/open-sans/open-sans.css);

/* Variable */
:root {
  --ff-heading: "Nunito", sans-serif;
  --ff-body: "Open Sans", sans-serif;
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --radius: 0.5rem;
  --transition: 0.4s all ease;
}

/* Reset */
body {
  font-family: var(--ff-body);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
}

/* Utility */

.sectionPadding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

/* Media Query */
/* sm */
@media (max-width: 575.98px) {
}

/* md, less than 768px) */
@media (max-width: 767.98px) {
}

/* lg, less than 992px) */
@media (max-width: 991.98px) {
}
