<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Textile | SHENDRONG</title>

    <!-- CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <!-- Remix Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    />
    <!-- App -->
    <link rel="stylesheet" href="./assets/css/app.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg bg-white border-bottom">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="./assets/img/logoipsum-287.svg" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Dropdown link
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- /Navbar -->
    </header>
    <!-- /Header -->

    <!-- Main -->
    <main>
      <!-- Hero -->
      <section id="hero" class="sectionPadding bg-light">
        <div class="container h-100">
          <div
            class="row g-4 justify-content-center align-items-center text-center text-lg-start border"
          >
            <div class="col-lg-6 border">
              <h1 class="h6 textSEO">Lorem ipsum dolor sit amet</h1>
              <h2 class="display-4 textMarketing fw-bold">
                Lorem ipsum dolor sit, consectetur adipisicing elit.
              </h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatum iusto totam quos aut temporibus
              </p>
              <div class="mt-4 text-center text-lg-start">
                <a href="#" class="btn btn-primary">More</a>
                <a href="#" class="btn btn-outline-primary">Call Us</a>
              </div>
            </div>
            <div class="col-lg-6 border">
              <img
                src="./assets/img/hero2-1.png"
                class="img-fluid w-100"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- /Hero -->

      <!-- Section -->
      <section id="sectionId" class="sectionPadding">
        <div class="container">
          <div class="row border">
            <div class="col-lg-6 border mx-auto text-center">
              <span class="h6 textSubtitle">Lorem ipsum</span>
              <h2 class="h3 textTitle fw-bold">
                Lorem ipsum dolor sit amet consectetur
              </h2>
              <p class="textIntro">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                nihil ducimus provident laborum blanditiis quasi maxime?
              </p>
            </div>
          </div>
          <div class="row g-4 mt-4 border">
            <div class="col-lg-4 text-center">
              <div class="p-3 border shadow rounded">
                <img
                  src="./assets/img/react.svg"
                  alt=""
                  class="img-fluid w-25"
                />
                <h2 class="h5 fw-bold">Lorem ipsum dolor sit</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Minus asperiores nihil suscipit?
                </p>
                <a href="#" class="btn btn-link">Detail</a>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="p-3 border shadow rounded">
                <img
                  src="./assets/img/react.svg"
                  alt=""
                  class="img-fluid w-25"
                />
                <h2 class="h5 fw-bold">Lorem ipsum dolor sit</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Minus asperiores nihil suscipit?
                </p>
                <a href="#" class="btn btn-link">Detail</a>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="p-3 border shadow rounded">
                <img
                  src="./assets/img/react.svg"
                  alt=""
                  class="img-fluid w-25"
                />
                <h2 class="h5 fw-bold">Lorem ipsum dolor sit</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Minus asperiores nihil suscipit?
                </p>
                <a href="#" class="btn btn-link">Detail</a>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="p-3 border shadow rounded">
                <img
                  src="./assets/img/react.svg"
                  alt=""
                  class="img-fluid w-25"
                />
                <h2 class="h5 fw-bold">Lorem ipsum dolor sit</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Minus asperiores nihil suscipit?
                </p>
                <a href="#" class="btn btn-link">Detail</a>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="p-3 border shadow rounded">
                <img
                  src="./assets/img/react.svg"
                  alt=""
                  class="img-fluid w-25"
                />
                <h2 class="h5 fw-bold">Lorem ipsum dolor sit</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Minus asperiores nihil suscipit?
                </p>
                <a href="#" class="btn btn-link">Detail</a>
              </div>
            </div>
            <div class="col-lg-4 text-center">
              <div class="p-3 border shadow rounded">
                <img
                  src="./assets/img/react.svg"
                  alt=""
                  class="img-fluid w-25"
                />
                <h2 class="h5 fw-bold">Lorem ipsum dolor sit</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Minus asperiores nihil suscipit?
                </p>
                <a href="#" class="btn btn-link">Detail</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Section -->

      <!-- Section -->
      <section id="sectionId" class="sectionPadding bg-light">
        <div class="container">
          <div class="row g-4 justify-content-between align-items-center">
            <div class="col-lg-5 border">
              <img src="./assets/img/img2.jpg" alt="" class="img-fluid w-100" />
            </div>
            <div class="col-lg-6 text-center text-lg-start border">
              <div class="sectionTitle">
                <span class="h6 textSubtitle">Lorem, ipsum</span>
                <h2 class="h3 textTitle fw-bold">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit
                </h2>
              </div>
              <p class="mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                molestiae perspiciatis labore, quos consectetur ab ut dolorum,
                praesentium repellendus magni ducimus, unde vel! Vitae!
              </p>
              <div class="lead fw-semibold">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi,
                minus eos. Odio!
              </div>
              <a href="#" class="btn btn-primary mt-4">Contact Us</a>
            </div>
          </div>
        </div>
      </section>
      <!-- /Section -->
    </main>
    <!-- /Main -->

    <!-- Footer -->
    <footer></footer>
    <!-- /Main -->

    <!-- Script -->
    <!-- Bootstrap -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <!-- App -->
    <script src="./assets/js/app.js"></script>
  </body>
</html>
